img {
  height: 170px;
  width: 170px;
}

h5 {
  text-align: center;

  margin: 0;
}

.icon {
  height: 12px;
  width: auto;
  border-radius: 0;
  padding: 0;
  transition: 0.2s filter linear;

  &:hover {
    filter: hue-rotate(90deg);
  }
}

.candidate a {
  text-decoration: underline;
  -webkit-text-fill-color: unset;
}
.candidate__name {
  color: #343f91;
  font-weight: bold;
  padding-top: 10px;
}

.candidate {
  width: 190px;
  height: 410px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  filter: brightness(0.9);

  transition: 0.1s all linear;

  @include tablet {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: 330px;
  }
}

.candidate:hover {
  filter: brightness(1);
}
img {
  border-radius: 0px;
  padding-top: 8px;
}
.candidate-list {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.left {
  text-align: left;
}
.blurb-box {
  width: 100%;
}

.blurb {
  margin-top: 2px;
  padding: 10px;
  padding-top: 0;
  color: #664e98;
  font-size: 11px;

  @include tablet {
    width: 90%;
  }
}
