.intropage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  width: 700px;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px;

  @include largetablet {
    line-height: 28px;
    font-size: 18px;
  }

  &:nth-of-type(1) {
    margin-top: 10px;
    @include largetablet {
      margin-top: 0;
    }
  }

  &:nth-of-type(3) {
    width: 85%;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;

    @include tablet {
      width: 85%;
    }
  }
  @include tablet {
    width: 85%;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
  }
  @include iphonexr {
    padding-top: 30px;
    font-size: 15px;
  }
  @include iphone13 {
    padding-top: 30px;
    font-size: 15px;
  }

  @include largedesktop {
    padding-bottom: 30px;
    font-size: 15px;
  }
}

#countdown ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;

  @include large-mobile {
    width: 350px;
  }
}
#countdown {
  padding: 0;
  margin: 0;
  width: 50%;
  margin: 0 auto;

  @include large-mobile {
    width: 100vw;
  }
}
#countdown h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  @include tablet {
    font-size: calc(1.5rem * var(--smaller));
  }
}

#countdown li {
  display: inline-block;
  font-size: 12px;
  list-style-type: none;
  padding: 1em 2.5em;

  padding-top: 0;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid white;

  &:nth-of-type(4) {
    border-right: none;
  }
  @include tablet {
    font-size: calc(1.125rem * var(--smaller));
  }

  @include large-mobile {
    padding: 1em 1em;
    margin: 0;
  }
}

#countdown li span {
  text-align: center;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  padding: 2px;

  @include tablet {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.emoji {
  display: none;
  padding: 1rem;
}
#headline {
  padding: 0;
  margin: 0;
  padding-top: 24px;
}
.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}
